<div class="row">
    <div class="col-sm-12">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.status)">
            <app-alert [visible]="isLoginError" [type]="laertType" [msg]="alertMsg" (alertCloseEvent)="closeAlertBox()">
            </app-alert>
            <div class="form-label-group">
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address">
            </div>
            <div class="form-label-group">
                <input type="password" id="password" formControlName="password" class="form-control"
                    placeholder="Password">
            </div>

            <button class="btn btn-lg btn-primary-ing btn-block" type="submit">Sign In</button>
            <p style="text-align: right;">
                <br>
                <a routerLink="/">Back</a>
            </p>
        </form>
    </div>
</div>